{%extends "layout.html"%}
{%block content%}
<div class = "Description">
    <h1>Candle Stick Chart Description</h1>
    <ul>
        <li> A candlestick chart (also called Japanese candlestick chart) is a style of financial chart used to describe price movements of a security, derivative, or currency. </li>
        <li> Candlestick charts are a visual aid for decision making in stock, foreign exchange, commodity, and option trading.</li>
        <li> Looking at a candlestick, one can identify an asset’s opening and closing prices, highs and lows, and overall range for a specific time frame.</li>
        <li> The area between the open and the close is called the real body, price excursions above and below the real body are shadows (also called wicks). </li>
        <li> Wicks illustrate the highest and lowest traded prices of an asset during the time interval represented. The body illustrates the opening and closing trades. </li>
        <li> If the asset closed higher than it opened, the body is hollow or filled with a particular color(green), with the opening price at the bottom of the body and the closing price at the top.</li>
        <li> If the asset closed lower than it opened, the body is solid or filled with a particular color(red), with the opening price at the top of the body and the closing price at the bottom. </li>
    </ul>
    <div class = "Polaroid">
        <img src = "https://alpari.com/storage/inline-images/Forex%20candlestick%20patterns%20and%20how%20to%20use%20them%20-%201_0.png"  alt="Candle Stick Chart Analysis" class="image" width = "500px" height = "250px"/>
        <b><p>Candle Stick Chart Analysis</p></b>
    </div>
</div>
{%endblock%}
